#bodyInBox {
    /*border: 1px solid white;*/
    width: 600px;
    height: 630px;
    margin: auto;
}

#resultBg {
    background-size: cover;
    opacity: 0.4;
    position: absolute;
    width: 55%;
    /* min-width: 30%; */

    height: 80%;
    border-radius: 20px;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 10px solid red; */
    background-position: center;
    z-index: -1;
}

/* 당신의 기숙사는~ 텍스트 */
span {
    font-size: 20px;
}

#bodyBox {
    /*border: 1px solid blueviolet; */
    border-radius: 30px;
    width: auto;
    height: 650px;
    margin-top: 50px;
    margin-bottom: 80px;
    padding-top: 50px;
    font-size: 50px;
    text-align: center;
}

#domitoryImgBox {
    /*border: 1px solid red; */
    height: 300px;
}

#domitoryText {
    /*border: 1px solid blue; */
    height: 220px;
    color: white;
}

#domitoryImg {
    margin-top: 50px;
    margin-left: 170px;
    display: flex;
    height: 297px;
    width: 252px;
    justify-content: center;
    display: block;
    z-index: 1;
}

#btnBox {
    display: flex;
    margin-left: 130px;
    margin-top: -10px;
}