.out {
  border: 1px solid pink;
}
#op {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 50%;
  /* border: 1px solid red; */
  position: absolute;
  transform: translate(0%, 1100%);
}
.save {
  background-color: #ffd645;
  font-size: 3rem;
  font-weight: 400px;
  border-radius: 2.1rem;
  font-family: PoetsenOne, "Source Sans Pro";
  width: 18.4rem;

  text-align: center;
}

.main {
  background-color: #ffd645;
  font-size: 3rem;
  font-weight: 400;
  border-radius: 2.1rem;
  font-family: PoetsenOne, "Source Sans Pro";
  width: 18.4rem;
}
#fileInput {
  /* font-size: px; */
  width: 100%;

  background-color: rgb(255, 255, 255);
}
#imageInput {
  display: none;
}
#customUploadButton {
  background-color: none;
  color: rgba(255, 255, 255, 0);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  position: fixed;
  border-radius: 10px;
  font-size: 40px;
  top: 33%;
  left: 33%;
}
#bg1 {
  width: auto;
  height: auto;
  /* border: 2px solid blue; */
  margin-left: 1%;
  margin-top: -80px;
  /* position: relative; */
}
#pic4 {
  width: 200px;
  height: 250px;
  /* background-color: white; */
  background-image: url("../img/pic4.png");
  background-size: cover;
  background-position: center center;
  position: absolute;
  border: 3px solid black;
  bottom: 25%;
  z-index: 1;
  transform: translate(40%, -60%);
}
#pic2 {
  /* border: 1px solid red; */
  width: 200px;
  height: 230px;
  background-color: red;
  position: absolute;
  transform: translate(305%, 95%);
  z-index: 1;
}
#pic3 {
  /* border: 1px solid black; */
  width: 230px;
  height: 79px;
  background-color: green;
  position: absolute;
  transform: translate(150%, 530%);
  z-index: 1;
}
#p1 {
  /* border: 4px solid violet; */
  padding-bottom: 0;

  /* object-fit: fill; */
}

.item {
  align-items: center;
  /* border: 3px solid pink; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 3.55rem 32.6rem 0rem 32.5rem;
  position: relative;
  width: 100%;
}
.congratulations {
  align-items: center;
  color: #ffffff;
  display: flex;
  flex-shrink: 0;
  font-family: STIX Two Text, "Source Sans Pro";
  font-size: 3.6rem;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin-bottom: 4.25rem;
  white-space: nowrap;
}
.group {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.349999994);
  /* border-radius: 6.5rem; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: 720px;
  margin: 0rem 10.5rem 12rem 10.5rem;
  padding: 6.05rem 11.8rem 22.4rem 11.8rem;
  width: 950px;
  /* border: 3px solid violet; */
}
.idcard {
  align-items: center;
  color: #efcc73;
  display: flex;
  flex-shrink: 0;
  font-family: STIX Two Text, "Source Sans Pro";
  font-size: 3rem;
  font-weight: 400;
  justify-content: center;
  line-height: 1.01;
  margin: -4rem 0rem 1.4rem 0rem;
  white-space: nowrap;
  width: 1000px;
  height: 10px;
  margin-top: 0;
  margin-bottom: 50px;
}
.rectangle {
  background-size: cover;

  border-radius: 3.3rem;
  flex-shrink: 0;
  height: 30rem;
  width: 900px;
}
#mtext {
  border: 2px solid black;
  width: auto;
  height: auto;
  position: absolute;
  transform: translate(135%, -175%);
  z-index: 2;
}

.iden1 {
  font-size: 24px;
  position: relative;
  color: black;
  font-weight: bold;
  border: 1px solid blue;
  text-align: left;
  padding-left: 30%;
  padding-bottom: 5%;
  padding-top: 5%;
  margin-right: -10%;
}
.iden2 {
  font-weight: bold;
  position: relative;
  font-size: 24px;
  color: black;
  border: 1px solid red;
  text-align: left;
  padding-top: 5%;
  padding-left: 30%;
  padding-bottom: 5%;
  margin-right: -10%;
}
.iden3 {
  position: relative;
  font-weight: bold;
  font-size: 24px;
  color: black;
  text-align: left;
  padding-top: 5%;
  padding-left: 30%;
  padding-bottom: 5%;
  border: 1px solid yellow;
  margin-right: -10%;
}
.iden4 {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  padding-left: 30%;
  padding-top: 5%;
  padding-bottom: 5%;
  color: black;
  margin-right: -10%;
  border: 1px solid green;
}
