@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');

.login-head {
    margin-top: 100px;
    font-size: 96px;
    font-family: 'STIX Two Text', serif;
    font-weight: 100;
    color: white;
}

.login-div {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 112px;
    width: 796px;
    height: 762px;
    margin: 0 auto;
}

.login-recipe {
    width: 796px;
    height: 762px;
    margin-top: -100px;
    margin-bottom: -200px;
}

.login-btn {
    width: 323px;
    height: 64px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    margin: 0 auto;
    margin-top: 13px;
    margin-bottom: 13px;
    border-radius: 40px;
}

.login-btn>h3 {
    display: inline-block;
    font-family: 'STIX Two Text', serif;
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: 100;
}

.login-icon {
    position: none;
    padding-left: 20px;
    padding-top: 15px;
    width: 35px;
    height: 35px;
    float: left;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}