body {
    background-image: url("../img/bg.png");
}

#in {
    /* border: 1px solid black; */

    border-radius: 30px;
    margin: 0 auto;
    width: 700px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 80px;
    padding-top: 50px;

    font-size: 50px;
    text-align: center;
}

#ini>div {
    /* ini 내부의 각 div 요소에 적용되는 스타일 */
    margin: 20px;
    /* 마진을 추가하여 간격 조절 (원하는 크기로 조정) */
    padding: 10px;
    /* 패딩을 추가하여 내부 여백 조절 (원하는 크기로 조정) */
}

#qq {
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 50px;
    display: flex;
}

#q1 {
    /* 글자 색 */
    /* border: 1px solid red; */
    border-radius: 40px;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    width: 950px;
    height: 180px;
    margin: 20px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

div#q11 {
    /* border: 1px solid brown; */
    font-size: 27px;
    text-align: center;
    margin-top: 20px;
}

#one {
    /* border: 1px solid blue; */
    width: 940px;
    height: 295px;
}

#two {
    /* border: 1px solid blue; */
    width: 940px;
    height: 295px;
}

#g {
    /* border: 1px solid red; */
    margin-top: 30px;
    width: auto;
    height: 120px;
    margin-left: 50px;
    margin-right: 50px;
}

#progress {
    appearance: none;
    width: 80%;
    height: 20%;
}

#progress::-webkit-progress-bar {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    box-shadow: inset 3px 3px 10px #ccc;
}

#progress::-webkit-progress-value {
    border-radius: 30px;
    background: #1d976c;
    background: linear-gradient(to right, #a1a1a1, #1f4baa);
    transition: width 0.8s;
}

#m {
    /* border: 1px solid violet; */
    width: auto;
    height: auto;
}

#pic7 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#q11 {
    color: white;
    text-align: center;
    font-size: 80px;
}

div#q1.answer.last-question {
    border-radius: 40px;
    color: black;
    background-color: rgba(255, 255, 255, 0.2);
    width: 400px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.grade {
    font-size: 40px;
    color: white;
}

#b1,
#b2 {
    width: 130px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(255, 214, 69);
    border-radius: 10px;
    font-size: 25px;
    color: black;
}