#outt {
    /* border: 1px solid white; */

    width: 600px;
    height: 630px;
    margin: auto;
}

span {
    font-size: 20px;
}

#p5 {
    background-size: cover;
    opacity: 0.3;
    position: absolute;
    width: 50%;
    /* min-width: 30%; */

    height: 80%;
    border-radius: 20px;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 10px solid red; */
    background-position: center;
    z-index: -1;
}

#out {
    /* border: 1px solid blueviolet; */
    border-radius: 30px;
    width: auto;
    height: 650px;
    margin-top: 50px;
    margin-bottom: 80px;
    padding-top: 50px;
    font-size: 50px;
    text-align: center;
}

#pic {
    /* border: 1px solid red; */
    margin-top: 50px;
    height: 300px;
}

#grade {
    /* border: 1px solid blue; */
    height: 200px;
    color: white;

    margin-top: 20px;
}

#down {
    /* border: 1px solid yellow; */
    margin-top: -20px;
}

#p11 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#p1 {
    margin-top: 30px;
    display: flex;
    height: 300px;
    width: 300px;
    justify-content: center;
    margin: auto;
    display: block;
    z-index: 1;
}

/* .light {
  animation: blink 3s alternate infinite;
  align-items: center;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  background-color: rgb(255, 255, 255, 0);
  position: absolute;
  transform: translate(305%, 95%);
  z-index: 1;
  margin-left: 300px;
  margin-top: 300px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */