aside {
    position: absolute;
    right: 10px;
    top: 300px;
}

.menu {
    width: 149px;
    height: 359px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 14px 14px 75px 75px;
    margin: auto;
}

.asideImg {
    padding-top: 15px;
    padding-bottom: 15px;
}

.asideUpper {
    padding-top: 20px;
    padding-bottom: 20px;
}

.asideHr {
    margin-left: 15px;
    margin-right: 15px;
    border-color: rgba(255, 255, 255, 0.4);
}